.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    position: relative;
    z-index: 1;
}

.banner-container {
    background-color: transparent;
    border-radius: 64px;
    min-height: 800px;
    margin-top: 175px;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 20px;
    background: linear-gradient(90.21deg, rgba(8, 76, 132, 0.623) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: white;
    margin-bottom: 100px;
    margin-top: 20px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: white;
}

.banner p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 50px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    text-align: end;
    background: transparent;
    border: none;
    cursor: pointer;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.wrap {
font-size: 80%;
}

.about-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}