.skill {
    padding: 0 0 50px 0;
    position: relative;
}

.skill-box {
    background: transparent;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.tech-title {
    font-weight: 700;
    color: white;
}

.knowledge-lvl {
    margin-bottom: 30px;
    color: white;
}

.soft-title {
    font-weight: 700;
    margin: 50px 0 30px 0;
    color: white;
}

.skill p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slides {
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: white;
}

.skill-slides .item img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 0 auto 15px auto;
}

.skill-slides .item h5 {
    font-size: 20px;
}

.excellent {
    color: red;
}

.proficient {
    color: yellow;
}

.familiar {
    color: green;
}